body{
	background-color: #020;
	user-select:none;
}
i,p,span,b{user-select:none;}
.layout{
	display:flex;
	justify-content:flex-end;
	height:80%;
	margin-top:10vh;
}
.game{
	background-color: #080;
	width:100%;
	overflow:hidden;
	border:ridge 4px;
	padding-inline:8px;
	display:flex;
	flex-direction:column-reverse;
}
.game-buttons{
	margin:8px;
	display:flex;
	justify-content:space-around;
	width:80%;
}
body[css_swapbuttons] .game-buttons{
	flex-direction:row-reverse;
}
.game-buttons button{
	border-radius:8px;
	border-width:3px;
	background-color:white;
	width:25%;
	height:64px;
	user-select:none;
	z-index:9;
}
.game-windowflex{
	background-color:#000a;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:10;
}
.game-window{
	width:75vw;
	height:50vh;
	background-color:#050;
	border:4px solid;
	overflow:auto;
	z-index:10;
}
.game-windowtitle{
	background-color:#bbb;
	position:sticky;
	top:0;
	height:28px;
	font-size:2em;
	font-family:sans-serif;
	display:flex;
	align-items:center;
	border-bottom:4px solid;
	animation: 1s steps(1) 0s infinite running titleflash;
}
.game-windowitem{
	margin:10px;
	color:white;
	overflow-wrap:anywhere;
	font-family:sans-serif;
	font-size:1.5em;
	display:flex;
	justify-content:space-around;
}
.game-windowitem span{width:50%}
@keyframes titleflash{
	0%{
		background-color:#bbb;
	}
	50%{
		background-color:#ccc;
	}
}
.game-windowbuttons{
	display:flex;
	justify-content:center;
	position:sticky;
	top:100%;
}
.game-windowbuttons button{
	margin:10px;
	appearance:none;
	height:40px;
	width:100px;
}
button#play{
	background:linear-gradient(to bottom right,#29e,#13d);
}
button#discard{
	background:linear-gradient(to bottom right,#d33,#a11);
}
.sortbuttons{
	display:flex;
	justify-content:center;
}
.score{
	background-color:#4a4;
	border:ridge 4px;
	width:20vw;
	max-width:200px;
	display:flex;
	flex-direction:column-reverse;
	justify-content:space-between;
}
card-t{
	width:80px;
	display:block;
	filter:drop-shadow(-2px 2px 4px black);
	position:absolute; 
	user-select:none;
}
#playhand card-t:hover{
	filter:drop-shadow(-4px 4px 8px black);
}
card-t img{
	user-select:none;
	pointer-events:none;
}
card-t[style],body[css_hoverlayer] #playhand card-t:hover{
	z-index:9
}
card-t:not([style]){
	transition:0.33s cubic-bezier(0, 0, 0, 1);
}
card-t[selected]{
	translate:0px -20px;
}
card-t:not([selected]){
	transform:translatey(0px);
}
card-t[playing]{
	transform:translatey(-25vh)
}
card-t[discarding]{
	transform:translatey(200%)
}
card-t[drawing]{
	transform:translate(500%,500%)
}
.score-effect{
	width:48px;
	height:48px;
	position:absolute;
	left:16px;
	rotate:45deg;
	transition:0.5s cubic-bezier(0, 0, 0, 1);
}
.score-effect[chips]{
	background-color:#29e;
}
.effect-text{
	position:absolute;
	left:16px;
	text-align:center;
	font-family:monospace;
	font-size:3em;
}
@keyframes count1{
	25%{
		transform:scale(1.3) rotate(25deg)
	}
	50%{
		transform:scale(1.1) rotate(-10deg)
	}
	75%{
		transform:scale(1) rotate(5deg)
	}
}
@keyframes count2{
	25%{
		transform:scale(1.3) rotate(-25deg)
	}
	50%{
		transform:scale(1.1) rotate(10deg)
	}
	75%{
		transform:scale(1) rotate(-5deg)
	}
}
.cardpile{
	display:grid;
	grid-template-columns: repeat(auto-fit,  minmax(0px, max-content)); /*got from stack overflow;; works i guess idk grids*/
	justify-content:space-around;
	height:112px;
	width:80%;
}
.cardpile card-t{
	position:relative
}
#counthand{
	margin-bottom:calc(25vh - 112px)
}
#handhud, #deckhud{
	text-align:center;
	margin:8px;
}
.cardcount{
	position:absolute;
	right:0;
	margin:10px;
	font-size:1.5em;
}
.topinfo{
	margin-top:5vh;
	display:flex;
	flex-direction:column-reverse;
}
.chipmult{
	background-color:#666;
	border:4px solid;
	border-radius:4px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-size:1.5em;
}
.chips, .mult{
	border:2px solid white;
	color:white;
	width:50%;
	text-align:center;
}
.chips{background-color:#16d}
.mult{background-color:#d33}
.pokerhand{
	color:white;
	background-color:#888;
	border:4px solid black;
	border-radius:4px;
	font-size:1.5em;
	text-align:center;
}
.scoretitle{
	background:linear-gradient(to right,white,transparent);
	font-family:monospace;
	font-size:2em;
}
.scorehud{
	border:6px outset white;
	background-color:silver;
	text-align:center;
	font-family: MS Gothic, sans-serif;
	font-size:2em;
	margin-bottom:1vh;
}
.scorereach{
	border:4px solid;
	border-radius:4px;
	background-color:#7a7a7a;
	display:flex;
	flex-direction:column;
	margin-bottom:1vh;
}
.scorereach i{
	text-align:left;
	font-family:math;
}
.scorereach div{
	border:3px solid white;
	background-color:#ababab;
	font-size:1.3em;
	text-align:center;
	font-weight:bold;
}
.bottominfo{
	height:15vh;
	border:4px solid;
	border-radius:4px;
	background-color:#444;
	display:flex;
	flex-direction:column;
}
.bottominfo-item{
	display:flex;
	justify-content:space-between;
}
.bottominfo-count{
	width:50%;
	border:3px solid white;
	background-color:#222;
	text-align:center;
	font-weight:bold;
	font-size:2em;
}
#hands{
	color:#29e;
}
#discards{
	color:#d33
}
.bottominfo span{
	font-family:monospace;
	color:white;
}
